# Laravel
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 5 & 6 specific
/public/storage
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.env
/.env.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml

# Vue.js
/dist/
/public/build/
/public/css/
/public/js/
/public/mix-manifest.json

# Системні файли
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?